@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap";

/*ESCRITORIO*/

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, rgb(34, 34, 34) 0%, rgb(92, 92, 92) 100%);
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bolder;
  animation: animColor 2s linear infinite;
}

@keyframes animColor {
  0% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: #7decc7;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

h2 {
  font-size: 1.3vw;
}

h3 {
  padding: 20px;
  font-weight: bolder;
}

span {
  color: #7decc7;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

header {
  background: linear-gradient(
    180deg,
    rgb(24, 100, 77) 0%,
    rgb(161, 255, 227) 61%,
    rgb(161, 255, 227) 90%
  );
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  text-shadow: none;
}
header img {
  width: 150px;
}

.nav-item {
  list-style-type: none;
  margin: 10px 10px 20px 20px;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.nav-link {
  border-radius: 0.2cm;
}
.nav-link:hover {
  background-color: rgb(201, 255, 239, 50%);
  transition: 300ms ease;
}

.active:hover {
  color: rgb(161, 255, 227);
}

a {
  text-decoration: none;
  color: rgb(0, 58, 39);
}

.busquedaCarrito {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 30px;
  background: linear-gradient(180deg, aquamarine 0%, rgb(83, 175, 143) 100%);
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 95%;
}

.busquedaCarrito img {
  height: 15%;
  width: 15%;
}

.busquedaCarrito p {
  position: absolute;
  background: red;
}

.carrito {
  margin: 5px 20px 0px 20px;
  background-color: #0be29a;
  color: white;
  border: none;
  border-radius: 15px;
  width: 80px;
  height: 80px;
  transition: all 0.2s;
}

.carrito img {
  text-align: center;
  margin-top: 5px;
  margin-left: px;
  width: 110%;
  height: 85%;
}

.carrito:link {
  background-color: #474747;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: none;
}

.carrito:hover {
  background-color: #a1a1a1;
  scale: 1.05;
}

.productoComprado {
  background: linear-gradient(90deg, #00b377 0%, #48ffc2 100%);
  text-shadow: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #7decc7;
  color: black;
}

.productoQuitado {
  background: linear-gradient(90deg, #b90000 0%, #ff4646 100%);
  text-shadow: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #8d0000;
  color: black;
}

.cantidadProductos {
  font-weight: bolder;
}

.cantidadBoton {
  font-size: 13px;
  position: absolute;
  color: white;
  padding: 0px 6px 0px 6px;
  border-radius: 8px;
  border: 1px solid aquamarine;
  background: rgb(75, 153, 127);
}

.offcanvas {
  background: linear-gradient(90deg, rgb(77, 77, 77) 0%, rgb(92, 92, 92) 100%);
}

.btnQuitar {
  margin: 20px;
  transition: all 0.2s;
}

.btnQuitar:hover {
  scale: 1.05;
}

.alertComprar {
  color: white;
  padding: 50px;
  background: linear-gradient(90deg, rgb(34, 34, 34) 0%, rgb(92, 92, 92) 100%);
}

.btnAgregar {
  font-size: 1.2vw;
}

.productoCarrito {
  text-align: center;
  margin-bottom: 10px;
  padding: 25px;
  border: dashed #929292;
}

#inputBuscar {
  width: 20%;
  padding: 9px;
}

.filtrarPorCategoria {
  margin-left: 20px;
  font-weight: bolder;
  color: black;
  text-shadow: none;
}

#filtroCategoria {
  margin-left: 8px;
  font-size: 1vw;
  padding: 5px;
  border-radius: 5px;
}

option:checked {
  background-color: rgb(84, 168, 140);
  color: rgb(255, 255, 255);
}

.card {
  width: calc(20% - 10px);
  margin: 10px;
  padding: 15px;
  background: linear-gradient(90deg, rgb(77, 77, 77) 0%, rgb(92, 92, 92) 100%);
  border: 1px solid #0be29a;
  text-align: center;
  border-radius: 10px;
}

button {
  background-color: #0be29a;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #7decc7;
  scale: 1.05;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.precio {
  font-weight: bold;
  color: aquamarine;
  font-size: 1.3vw;
  border-radius: 10px;
  border: 2px solid rgb(127, 255, 212, 0.2);
}

.categoria {
  font-weight: bold;
  color: aquamarine;
  font-size: 1.3vw;
}

.specsProducto {
  font-size: 1vw;
}

.carousel-inner {
  border-radius: 0.5cm;
  border: 4px solid rgb(161, 255, 227);
  margin-bottom: 50px;
  width: 90%;
  margin: auto;
}

.carousel-item h5 {
  font-size: 2rem;
  text-shadow: 5px 10px 5px black;
}

.serviciosHeader {
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden;
  font-size: 4vw;
}

.serviciosImg {
  margin: 0 auto;
  margin-bottom: 50px;
  border: 4px solid rgb(161, 255, 227);
  border-radius: 10px;
}

.infoTexto p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  width: 95%;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 576px) {
  .infoTexto p {
    font-size: 2.5rem;
    width: 90%;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  .infoTexto p {
    width: 70%;
    font-size: 1.7rem;
    margin-bottom: 48px;
  }
}
.infoTexto h1 {
  text-align: center;
  margin-bottom: 50px;
}
.infoTexto h2 {
  text-align: center;
  padding-bottom: 40px;
}

.infoMapa {
  height: 60vh;
  width: 50vw;
  margin: 0 auto;
  display: block;
  border: 3px solid rgb(161, 255, 227);
  border-radius: 1cm;
}

.infoAcercate {
  font-size: 3vw;
}

footer {
  border-radius: 50px;
  background: linear-gradient(180deg, aquamarine 0%, rgb(63, 133, 109) 100%);
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  width: 90%;
}
footer a img {
  transition: all 200ms ease-in-out;
}
footer a img:hover {
  transform: scale(1.4);
}
footer .display-6 {
  font-weight: bolder;
  transition: all 200ms ease-in-out;
  padding: 10px;
  border-radius: 0.5cm;
  color: black;
  text-decoration: none;
}
footer .display-6:hover {
  text-decoration: underline;
  color: white;
  background-color: rgb(24, 100, 77);
}
footer .text-light:hover {
  transform: scale(1.5);
}

/*TABLETS*/
@media screen and (min-width: 769px) and (max-width: 1199px) {
  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  h2 {
    font-size: 2.5vw;
  }

  .btnAgregar {
    font-size: 1.8vw;
  }

  #inputBuscar {
    width: 25%;
    padding: 9px;
  }

  .carrito img {
    text-align: center;
    margin-top: 5px;
    width: 110%;
    height: 85%;
  }

  .filtrarPorCategoria {
    margin-left: 20px;
    font-size: 2.5vw;
  }

  #filtroCategoria {
    font-size: 2vw;
  }

  .card {
    width: calc(40% - 10px);
  }

  .precio {
    font-size: 24px;
  }

  .categoria {
    font-size: 20px;
  }

  .specsProducto {
    font-size: 18px;
  }

  .serviciosHeader {
    font-size: 5vw;
  }

  .infoMapa {
    width: 60vw;
  }
}

/*MOVILES*/

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  h2 {
    font-size: 7vw;
  }

  .btnAgregar {
    font-size: 4vw;
  }

  #inputBuscar {
    width: 35%;
    padding: 5px;
  }

  .carrito {
    margin: 10px;
    color: white;
    border: none;
    border-radius: 20%;
    width: 20%;
    height: auto;
    transition: all 0.2s;
    padding: 5px;
  }

  .carrito img {
    width: 100%;
    height: auto;
  }

  .filtrarPorCategoria {
    margin-right: 20px;
    font-size: 3.5vw;
  }

  #filtroCategoria {
    font-size: 3vw;
  }

  .card {
    width: calc(80% - 10px);
  }

  .precio {
    font-size: 5vw;
  }

  .categoria {
    font-size: 5vw;
  }

  .specsProducto {
    font-size: 4vw;
  }

  .alertComprar {
    font-size: 5vw;
  }

  .serviciosHeader {
    font-size: 6.5vw;
  }
  .infoTexto p {
    width: 80%;
    font-size: 1.2rem;
  }

  .infoMapa {
    height: 30vh;
    width: 70vw;
  }

  .infoAcercate {
    font-size: 10vw;
  }
}
